<h1>User List</h1>

<div class="my-4 d-flex justify-content-between align-items-center">
  <button type="button" class="btn btn-primary" routerLink="/users/new">
    New user
  </button>

  <input
    type="text"
    autocomplete="off"
    class="form-control w-50"
    placeholder="Filter by last name"
    [(ngModel)]="searchTerm"
  />
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">E-mail</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let user of users | search : searchTerm : 'last_name'"
      role="button"
      (click)="onDetail(content, user)"
    >
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td class="text-center">
        <button class="btn btn-sm btn-info" (click)="onEdit($event, user)">
          <i class="bi bi-pencil-square"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">User detail</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="offcanvas.dismiss()"
    ></button>
  </div>

  <div class="offcanvas-body">
    <div class="mb-3">
      <img [src]="activeUser.avatar" class="img-thumbnail" />
    </div>

    <div class="mb-3">
      <label class="form-label">Name</label>
      <p class="form-control">
        {{ activeUser.first_name }} {{ activeUser.last_name }}
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label">E-mail</label>
      <p class="form-control">
        {{ activeUser.email }}
      </p>
    </div>

    <button
      class="btn btn-primary mt-5"
      (click)="offcanvas.dismiss(); onEdit($event, activeUser)"
    >
      Edit
    </button>
  </div>
</ng-template>
